
<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{title}}</h5>
      <h6 class="card-price text-center">{{price}}<span class="period">/month</span></h6> 
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="" [ngClass]="check1"></i></span><strong>{{users}}</strong></li> 
        <li><span class="fa-li"><i class="" [ngClass]="check1"></i></span><strong>{{storage}}</strong></li>
        <li><span class="fa-li"><i class="" [ngClass]="check1"></i></span>Unlimited Public Projects</li>
        <li><span class="fa-li"><i class="" [ngClass]="check1"></i></span>Community Access</li>
        <li class="" [ngClass]='c1'><span class="fa-li"><i class="" [ngClass]="check2"></i></span>Unlimited Private Projects</li>
        <li class="" [ngClass]='c2'><span class="fa-li"><i class="" [ngClass]="check3"></i></span>Dedicated Phone Support</li>
        <li class="" [ngClass]='c3'><span class="fa-li"><i class="" [ngClass]="check4"></i></span><b>Subdomain</b></li> 
        <li class="" [ngClass]='c4'><span class="fa-li"><i class="" [ngClass]="check5"></i></span>Monthly Status Reports</li> 
      </ul>
      <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a> 
    </div>
  </div> 
  